# Uppgifter, Kapitel 2 - Datatyper

1. Addera de två talen nedan och spara resultaten i en variabel som heter my_result. Printa ut variabeln my_result.

In [33]:
num_1 = 5
num_2 = 3
calculate = num_1 + num_2
my_result = calculate
print(my_result)

8

vid definerar två variabler, a och b, och ger dem värdena 10 och 20. med metoden calculate adderar vi talen och sparar resultatet i variabeln my_result. med kommandet print skriver vi ut resultatet.

2. Multiplicera de två talen nedan och spara resultaten i en variabel som heter my_mult_result. Printa ut variabeln my_mult_result.

In [34]:
number_1 = 10
number_2 = 7
calculate = number_1 - number_2
my_result = calculate
print(my_result)

3

vid definerar två variabler, a och b, och ger dem värdena 10 och 20. med metoden calculate multiplicerar vi talen och sparar resultatet i variabeln my_mult_result. med kommandot print skriver vi ut resultatet.

3. Förklara vad nedanstående kod gör.

In [35]:
10 % 3

1

3. Koden beräknar kvoten av de två talen. De båda talen är heltal med variabeln int och kommer därför returnera ett heltal. Python avrundar till närmsta heltal och returnerar det.

4. Vi vet att 27/6 = 4.5. Förklara vad nedanstående kod gör.

In [36]:
27//6

4

Då vi använder variabeln int kommer Pythn returnera ett heltal. Talet avrundas till närmsta heltad nedåt och rutenerar det. Om vi vill att talet ska retuneras som decimaltal måste vi använda variabeln float.

5. Vad är fel i nedanstående kod? Rätta till koden så det fungerar.

In [37]:
print ("it's fun to learn Python!")

it's fun to learn Python!

Strängen som ska skrivas ut är innebädad i en enkelkapsel. Då vi inuti strängen också använder en enkelkapsel för att använda " it´s" istället för exempel vis "it is" så kommer Python tolka det som att strängen avslutas efter "it". 
Det anses som best practice att använda cituationstecken " " runt en sträng för att undvika detta problem.

In [38]:
print("it´s fun to learn Python!")

it´s fun to learn Python!

6. Vad gör nedanstående kod?

In [39]:
print("ha"*3)

hahaha

koden kommer upprepa strängen 3 gånger i rad och skriva ut det

7. Extrahera namnet "Anna" från strängen nedan genom att göra en "slice".

In [40]:
full_name = "Anna Andersson"
slice = full_name[0:4]
print(slice)

Anna

genom att använda metoden slice kan vi extrahera en del av en sträng. I detta fall vill vi extrahera namnet "Anna" från strängen. Vi vet att namnet börjar på index 0 och slutar på index 4. Vi skriver därför [0:4] för att extrahera namnet.

8. Hur många tecken har strängen nedan? Använd len() funktionen.

In [41]:
full_name = "Anna Andersson"
len(full_name)

14

genom metoden len() kan vi räkna antalet tecken i en sträng. I detta fall har strängen 17 tecken.

9. a) Genom att använda en f-string med de två variablerna "founder" och "language", printa ut texten "Hello Guido, Python is really fun to learn!"
    
   b) Du vill nu skriva ut hela namnet "Guido van Rossum" så texten blir "Hello Guido van Rossum, Python is really fun to learn!", gör det genom att ändra namnet i variabeln founder och exekvera din f-string på nytt.

In [42]:
founder = "Guido"
language = "Python"

10. Varför blir koden nedan fel?

In [43]:
my_first_tuple = (10, 5, 'hi', 3)
print(my_first_tuple) ## på detta sätt kommer tuple skrivas ut korrekt

(10, 5, 'hi', 3)

my_first_tuple = (10, 5, 'hi', 3) är en tuple som är inmutable. Det betyder att vi inte kan ändra på den. Därför kommer koden nedan att ge ett felmeddelande.
my_first_tuple[1] = 10

In [44]:
my_first_tuple = (10, 5, 'hi', 3) ## gör om till lista för att kunna ändra värden

my_first_tuple_list = list(my_first_tuple)
my_first_tuple_list [1] = 10
my_first_tuple = tuple(my_first_tuple_list) ## gör om till tuple igen
print(my_first_tuple)

(10, 10, 'hi', 3)

då koden my_first_tuple[1] = 10 försöker ändra värdet för en touple, som är en immutable datatyp, kommer Python returnera ett felmeddelande. Om vi vill ändra värdet i en touple måste vi skapa en ny touple. det kan göras genom att skapa en ny touple med samma värden som den gamla touplen eller genom att sapa en list

11. Vad gör koden nedan?

In [45]:
my_tuple = ('languages', ['Python', 'Java', 'C', 'R'], 'apples')

In [46]:
print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1][2])

languages
apples
C

12. Kolla på vilken typ variabeln "my_tuple" har genom att använda type() funktionen.

In [47]:
my_tuple = ('languages', ['Python', 'Java', 'C', 'R'], 'apples')
type(my_tuple)

tuple

13. Vad gör koden nedan?

In [48]:
my_first_list = [10, 5, 'hi', 3]

Den skapar en lista med 10, 5, ´hi´ och 3 och sparar den i variabeln my_list.

In [49]:
my_first_list = [10, 5, 'hi', 3]
my_first_list[1] = 7

Varje element i listan har ett index och vi har 4 element i listan. Index börjar på 0 och går uppåt. När vi anger index 1 (my_first_list[1]=7) kommer Python byta ut elementet med index 1 till värdet 7. Detta då index 0 är det första elementet och i detta fall är 10 första i listan. Därmed är 5 det andra element och har index 1. För att Python sa veta vilket element som ska bytas ut måste listan vara definerad med aktuella element.

In [50]:
my_first_list = [10, 5, 'hi', 3]
my_first_list[1] = 7
my_first_list

[10, 7, 'hi', 3]

När listans index med aktuella element är definerad och vi har gett en instruktion om att index 1 ska bytas till 7 använder vi koden my_first_list för att skriva ut den uppdaterade listan.

14. Se vilken typ variabeln "my_first_list" har genom att använda type() funktionen.

In [51]:
my_first_list = [10, 5, 'hi', 3]
type(my_first_list)

list

Med kommandot type följt av variabelnamnet kan vi se vilken typ av variabel eet är - i detta fall en lista

15. Beräkna antalet element i variabeln "shopping_list" genom att använda len() funktionen.

In [52]:
shopping_list = ['apple', 'banana', 'grapes', 'eggs', 'milk']
len(shopping_list)

5

vi har definerat en lista med 5 element och använder len() för att räkna anatal element i listan.

16. Vi glömde att lägga till bröd ("bread" på engelska) i vår shopping lista. Gör det genom att använda append() metoden och printa ut den nya shopping listan.

In [53]:
shopping_list = ['apple', 'banana', 'grapes', 'eggs', 'milk']
shopping_list.append('bread')
print(shopping_list)

['apple', 'banana', 'grapes', 'eggs', 'milk', 'bread']

med metoden .append() kan vi lägga till ett element i en lista. I detta fall lägger vi till "bread" i listan shopping_list. Vi använder sedan print för att skriva ut den uppdaterade listan.

17. Beräkna antalet gånger siffran 7 finns i listan "my_numbers". Använd count() metoden.

In [54]:
my_numbers = [1, 7, 2, 7, 10, 7]
my_number_count = my_numbers.count(7)
print(my_number_count)

3

med metoden .count() kan vi räkna antalet gånger ett element finns i en lista. I detta fall räknar vi antalet gånger siffran 7 finns i listan my_numbers. med print skriver vi ut antalet gånger siffran 7 finns i listan.

18. Konvertera "one_tuple" till en lista och spara det i en variabel som heter "one_list".

In [55]:
one_tuple = (10, 5, 3)
one_list = list(one_tuple)
print(one_list)
type(one_list)

[10, 5, 3]

list

touple är en metod som används för att skapa en unmuteable lista. För att konvertera en touple till en lista använder vi metoden list() och sparar den i en variabel som heter one_list. för att kontrollera att konverteringen har skett korrekt använder vi print för att skriva ut den nya listan.

19. Vad gör nedanstående kod?

In [56]:
my_first_dict = {'Anna': 38, 'Goran': 19, 'Lennart': 59, 'Halimah': 28}

vi skapar en dictionary med nyckel och värde. om vi vill skriva ut dictionaryn kan vi använda print för att skriva ut hela dictionaryn eller använda print för att skriva ut en specifik nyckel och dess värde. värdet i dictionaryn kan vara en sträng, en siffra eller en lista och nyckeln kan vara en sträng eller en siffra. i detta fall har vi en dictionary med nyckeln "name" och värdet "Anna". för att skriva ut hela dictionaryn använder vi print och för att skriva ut en specifik nyckel och dess värde använder vi print(dictionary["name"]).

20. Kolla på vilken typ variabeln "my_first_dict" har genom att använda type() funktionen.

In [57]:
my_first_dict = {'Anna': 38, 'Goran': 19, 'Lennart': 59, 'Halimah': 28}
type(my_first_dict)

dict

vi använder metoden type() för att se vilken typ av variabel my_first_dict är. i detta fall är det en dictionary.

21. Varför printas element 5 endast ut en gång i koden nedan?

In [58]:
my_set = {10, 5, 2, 5, 5} 
print(my_set)

{10, 2, 5}

när vi använder variabeln set kommer Python att endast skriva ut unika element. i detta fall har vi en lista med 5 element och använder set för att skapa en set med unika element. då vi har två element med värdet 5 kommer Python endast skriva ut ett av dem.

22. Vi har definierat de två mängderna A och B nedan. 

a) Hitta alla element som är i både A och B. Använd intersection() metoden. 

b) Hitta alla element som är i A och/eller B. Använd union() metoden. 

c) Hitta alla element som är i A men inte i B. Använd difference() metoden.

In [59]:
A = {1, 2, 3, 4, 5} 
B = {3, 10, 5, 7}
intersection = A & B
print(intersection)
union = A | B
print(union)
difference = A - B
print(difference)
symmetric_difference = A ^ B
print(symmetric_difference)

{3, 5}
{1, 2, 3, 4, 5, 7, 10}
{1, 2, 4}
{1, 2, 4, 7, 10}

vi har definerat variablerna A och B som mängder. för att hitta alla element som är i både A och B använder vi metoden .intersection(). för att hitta alla element som är i A och/eller B använder vi metoden .union(). för att hitta alla element som finns i A men inte i B använder vi metoden .difference(). vi använder print för att skriva ut de olika resultaten. vill vi istället beräkna antalet i som finns i B men inte i A använder vi metoden .difference() på B. vi kan också använda metoden .symmetric_difference() för att hitta alla element som finns i antingen A eller B.

23. Vi har definierat det två listorna "list_a" och "list_b" nedan. Nedanstående uppgifter kan enkelt lösas genom att konvertera de definierade listorna till mängder först. 

a) Hitta alla element som är i både list_a och list_b.

b) Hitta alla element som är i list_a och/eller list_a.

In [60]:
list_a = [1, 2, 3, 4, 5]
list_b = [5, 6, 10, 21]
A = set(list_a)
B = set(list_b)
intersection = A & B
print(intersection)
union = A | B
print(union)
difference = A - B
print(difference)
symmetric_difference = A ^ B
print(symmetric_difference)

{5}
{1, 2, 3, 4, 5, 6, 10, 21}
{1, 2, 3, 4}
{1, 2, 3, 4, 6, 10, 21}

vi har definerat två listor med olika värden, därefter konverterar vi listorna till mängder för att kunna använda metoder som .intersection() och .union(). för att hitta alla element som är i både list_a och list_b använder vi metoden .intersection(). för att hitta alla element som är i list_a och/eller list_b använder vi metoden .union(). vi använder print för att skriva ut de olika resultaten.

24. Hitta alla unika element i variabeln "duplicate_values" genom att konvertera "tuplen" till en "set".

In [61]:
duplicate_values = (10, 2, 2, 10, 1)
my_set = set(duplicate_values)
my_set

{1, 2, 10}

In [62]:
my_list_2 = [5, 3, 6, 10, 44, 45, 44] 
my_set_2 = set(my_list_2)
my_set_2

{3, 5, 6, 10, 44, 45}

En ett set kan endast innehålla unika värden och kommer därför endast retunera de värden på min lista som inte är dubbleter. Ett set kommer sortera listan i stigande ordning och kallas därför för en "unordered collection". Till skillnad från en lista som är en "ordered collection" som kommer returnera listan i samma ordning som värdena har listats. av den anledningen är det viktigt att komma ihåg att ett set inte kommer returnera värdena i samma ordning som de har listats, den kommer heller inte returnera dubbleter. Särskilt viktigt är det i de fall som vi vill behålla ordning på listan och att samtliga värden ska returneras.